<h1 mat-dialog-title>{{ headlining }}</h1>
<section mat-dialog-content>
	<ng-container *ngIf="data.isGoogle && data.isChurch">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3746.5642793449024!2d-98.88831189999999!3d20.1104931!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d17586f41cea5b%3A0x32626ede5db86d2a!2sParroquia%20de%20San%20Agust%C3%ADn%20Tlaxiaca!5e0!3m2!1sen!2smx!4v1768106356827!5m2!1sen!2smx" 
			width="600" 
			height="450" 
			style="border:0;" 
			allowfullscreen="" 
			loading="lazy" 
			referrerpolicy="no-referrer-when-downgrade">
		</iframe>
	</ng-container>
	<ng-container *ngIf="data.isGoogle && !data.isChurch">
		<iframe src="https://www.google.com/maps/embed?pb=!3m2!1sen!2smx!4v1768106436921!5m2!1sen!2smx!6m8!1m7!1sf9kLOTOtbGZVLk4_vlWkTQ!2m2!1d20.15651123140218!2d-98.9294432522502!3f27.148574386788027!4f-3.2482506945818557!5f0.7820865974627469" 
			width="600" 
			height="450" 
			style="border:0;" 
			allowfullscreen="" 
			loading="lazy" 
			referrerpolicy="no-referrer-when-downgrade">
		</iframe>
	</ng-container>
</section>
<footer mat-dialog-actions align="end">
	<button mat-flat-button mat-dialog-close>{{ 'BUTTONS.CLOSE' | translate }}</button>
</footer>
