<section>
	<div class="container">
		<small class="animate__animated animate__fadeInUp animate__delay-2s">
			Acompañanos a
		</small>
		<small class="animate__animated animate__fadeInUp animate__delay-2s">
			celebrar el
		</small>
		<h2 class="animate__animated animate__fadeInUp">Bautizo y Primer Año</h2>
		<small class="animate__animated animate__fadeInUp animate__delay-2s">
			de nuestra hija
		</small>
		<br />
		<h1 class="cursive animate__animated animate__fadeInUp">Lía Mikela</h1>
	</div>
	<br />
	<countdown class="animate__animated animate__fadeInUp" />
</section>