:host {
	width: 100%;
	height: calc(100vh - 4rem);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 1rem;
	background-image: url('/assets/images/fondoPrincipal.jpeg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	padding: 0 1rem;
	color: #8B7B6A;
}

section {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 1rem;
}

.container {
	width: auto;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 0.5rem 0;
	position: absolute;
	bottom: 7rem;
}

h1 {
	font-size: 2.25rem;
	text-align: center;
}

h3 {
	text-align: center;
}

strong {
	display: inline-block;
	width: auto;
	font-size: 1.5rem;
	text-align: center;
}

small {
	display: inline-block;
	width: auto;
	font-size: 1.5rem;
	font-weight: 900;
	text-align: center;
}
