:host {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	height: calc(100vh - 4rem);
	gap: 1.5rem 0;
	background-image: url('/assets/images/fondoPrincipal.jpeg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	padding: 0 1rem;
	color: #8B7B6A;
}

img {
	display: block;
	width: 100%;
	border-radius: 1rem;
	box-shadow: 0 0 1rem rgb(0 0 0 / 16%);
}

h1 {
	font-size: 2.5rem;
	text-align: center;
}

strong {
	display: inline-flex;
	font-size: 1.25rem;
}

p {
	font-size: 1rem;
	text-align: center;
}

span {
	display: inline-block;
}

small {
	display: inline-block;
	font-weight: bold;
	font-size: 0.75rem;
	text-align: center;
}

.circular-img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #788375;
    display: block;
    margin: 0 auto 1rem auto;
}