:host {
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    display: flex;
    background-image: url('/assets/images/fondoMenu.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem 0;
	color: #8B7B6A;
}
nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem 0;
}

a {
	text-transform: uppercase;
	text-decoration: none;
	font-size: 1.5rem;
	color: rgb(0 0 0 / 50%);
	text-align: center;

	&.ornamented {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		gap: 0 0.5rem;
		width: auto;
		color: hsl(0, 0%, 0%);
	}
}
